.DiscussionListsDropdown {
    .DiscussionListsDropdownEntry {
        display: flex;

        button {
            width: 48px;

            &:first-child {
                padding-left: 17px; // Align with regular button icons in dropdown
                padding-right: 0; // Reduce together with <a> so text aligns with regular buttons
            }

            &:last-child {
                // Reduce padding around edit button, this will make the dropdown less wide overall
                padding-left: 10px;
                padding-right: 0;
            }
        }

        a {
            flex-grow: 1;
            padding-left: 2px;
            padding-right: 2px;

            // Replace default dropdown button style to more clearly indicate this is a link and not a button
            &:hover {
                background: none;
                text-decoration: underline;
            }
        }
    }
}

.DiscussionListSortablePlaceholder {
    border: 2px dashed #aaa;
    height: 50px;
}

.DiscussionListSortableHandle {
    position: absolute;
    left: -22px;
    top: 20px;
    cursor: move;
}

.ListHero-Edit {
    float: right;
}

.ListHero .Hero-author {
    font-weight: bold;

    .Avatar {
        vertical-align: middle;
        --size: 32px;
    }
}

.DiscussionHero .DiscussionListSeries {
    border: 1px solid white;
    text-align: left;
    padding: 20px;
    width: 400px;
    max-width: ~'calc(100vw - 40px)';

    h3 {
        margin: 0 0 10px;
        font-size: 1.4em;
    }
}

.DiscussionListSeriesHead small {
    font-weight: normal;
    color: #aaa;
}

.DiscussionListSeries li.active {
    font-weight: bold;
}

.DiscussionListSeriesExpandButton {
    float: right;
}

.DiscussionListSeriesVisit .Button {
    display: block;
}

.DiscussionListSeries.BlogSideWidget {
    min-height: 60px; // Because there's no margin-bottom in the Blog when collapsed

    .DiscussionListSeriesExpandButton {
        margin: 10px 10px 0 0;
    }

    ol {
        padding-bottom: 10px;
        line-height: 2em;
    }

    .DiscussionListSeriesVisit {
        padding: 0 20px 20px;
    }
}

.FlarumBlog-Article-Content-Lists-Button {
    padding: 0 16px;
    text-align: right;
}
